p{ 
    color:violet
}
.haneen{
color:blue
}
#myid{
    color:sandybrown
}
div{
    background-color: seagreen;
    text-align:right;
}
.dana{
background-color: yellow;
}
#rabee{
    background-color: red;
}
div p{
    color: sandybrown;
}
.cls1{
    width: 100x;
    width: 200px;
    overflow:scroll;
}